<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Tweet Finder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    </div>
  </nav>
</div>

<div class="container" style="margin-top: 60px; font-size: .8em">
  <div class="row" style="">
    <div class="col"
         style="background-color: #f5f5f5; border-bottom: 1px solid lightgrey; height: 250px; padding-top: 15px;">
      <h4>Filter your tweets by</h4>
      <!--<div class="row" style="border-bottom: 1px solid lightgrey; font-weight: bold; margin-top: 15px;">
        <div class="col-2">Field</div>
        <div class="col-4">Filter Type</div>
        <div class="col-6"></div>
      </div>-->
      <div class="row" style="margin-top: 10px;">
        <div class="col-2">Tweet Text</div>
        <div class="col-3">
          <select class="form-control col-lg-6" [(ngModel)]="tweetFilter">
            <option value="all" selected>All</option>
            <option value="contains">Contains</option>
            <option value="equals">Equals</option>
            <option value="regex">Regex</option>
          </select>
        </div>
        <div class="col-6" [hidden]="tweetFilter === 'all'"><input type="text" class="col-lg-6"
                                                                   [(ngModel)]="tweetFilterText"></div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-2">Limit the records to</div>
        <div class="col-4">
          <select class="form-control col-lg-6" [(ngModel)]="recordLimit">
            <option value="1000" selected>1000</option>
            <option value="5000">5000</option>
            <option value="10000">10000</option>
            <option value="none">No Limit</option>
          </select>
        </div>
        <div class="col-6"></div>
      </div>
      <!--<div class="row" style="margin-top: 10px;">
        <div class="col-2">Language</div>
        <div class="col-4">
          <select class="form-control col-lg-6" [(ngModel)]="language">
            <option value="all" selected>All</option>
            <option *ngFor="let lang of supportedLanguages" value="{{lang.code}}">{{lang.name}}</option>
          </select>
        </div>
        <div class="col-6"></div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-2">Date Range</div>
        <div class="col-3">
          <select class="form-control col" [(ngModel)]="dateRange">
            <option value="7d">Last 7 days</option>
            <option value="14d">Last 14 days</option>
            <option value="21d">Last 21 days</option>
            <option value="30d">Last 1 month</option>
          </select>
        </div>
        <div class="col-7"></div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-2">Verified</div>
        <div class="col-2">
          <select class="form-control col small" [(ngModel)]="verified">
            <option value="all">All</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
        <div class="col-8"></div>
      </div>-->
      <div class="row col-12" style="margin-top: 10px;">
        <div class="col-12" style="">
          <div class="col-7"></div>
          <div class="col-5" style="float: right;">
            <button class="btn btn-primary btn-sm" (click)="getTweetsV2()">Get Data</button> &nbsp;&nbsp;<button
            class="btn btn-primary btn-sm" (click)="blockStream()" [hidden]="streamingStatus !== 'STREAM-IN-PROGRESS'">
            Pause Data Stream
          </button>
          </div>
        </div>
      </div>
      <div class="row col-12" style="height: 35px; height: auto !important;;">
        <div class="col-12" style=" margin-top: 15px; padding-top: 10px;">
          <div class="col-5" style=""></div>
          <div class="col-7" style="float: right;">
            <span class="alert alert-warning" [hidden]="streamingStatus === 'NONE'">{{streamingStatus}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--<div class="container" style="margin-top: 60px;">
  <div class="row" style="">
    <table class="table table-borderless col-xl-12 col-lg-12 col-md-12">
      <thead>
      <tr>
        <th scope="col">Tweet</th>
        <th scope="col">User</th>
        <th scope="col">reTweet<br>Count</th>
        <th scope="col">Verified</th>
        <th scope="col">Language</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tweet of tweetData">
        <td>{{tweet.tweet}}</td>
        <td>{{tweet.user}}</td>
        <td>{{tweet.reTweetCount}}</td>
        <td>{{tweet.verified}}</td>
        <td>{{tweet.language}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>-->

<div class="container" style="margin-top: 60px;">

  <!-- Vertical Bar Graph -->
  <div class="row" style="">
    <div class="col-5">
      <kendo-chart>
        <kendo-chart-series>
          <kendo-chart-series-item type="column" [data]="langGraphData" field="count"
                                   categoryField="language"></kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </div>
    <div class="col-5">
      <kendo-chart [transitions]="false">
        <kendo-chart-series>
          <kendo-chart-series-item type="column" [data]="verifiedStatusData" field="count"
                                   categoryField="status"></kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>

    </div>
  </div>
  <div class="row" style="">
    <div class="col-5">
      <kendo-chart>
        <kendo-chart-title text="Language breakdown"></kendo-chart-title>
        <kendo-chart-series>
          <kendo-chart-series-item type="column" [data]="testData02" field="count"
                                   categoryField="language"></kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </div>
    <div class="col-5">
      <!--<kendo-chart>
        <kendo-chart-series>
          <kendo-chart-series-item type="column" [data]="testData02" field="count"
                                   categoryField="language"></kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>-->
      <kendo-chart [categoryAxis]="{ days: days }">
        <kendo-chart-title text="Language breakdown for last 7 days"></kendo-chart-title>
        <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
        <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
        <kendo-chart-series>
          <kendo-chart-series-item *ngFor="let item of testData03" type="line" style="smooth" [data]="item.data" [name]="item.language">
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </div>
  </div>
  <div class="row" style="">
    <div class="col-5">
      <kendo-chart>
        <kendo-chart-title text="Verified Status breakdown"></kendo-chart-title>
        <kendo-chart-series>
          <kendo-chart-series-item type="column" [data]="testData01" field="count"
                                   categoryField="category"></kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </div>
    <div class="col-5">
    </div>
  </div>

  <!-- Horizontal Bar Graph -->
  <div class="row" style="">
    <div class="col">
      <div class="chart1"></div>
    </div>
    <div class="col" id="ver-chart" style="border: 1px solid red;">
      <!--<div class="chart2"></div>-->
    </div>
  </div>

</div>

<!-- Tabular form -->
<div class="container" style="margin-top: 60px;">
  <div class="row" style="">
    <div class="col-7" style="">
      <span [hidden]="streamingStatus === 'NONE'"><strong> Records processed:</strong> {{recordCount}}</span><br><br>
    </div>
  </div>
  <div class="row" style="">
    <div class="col-7" style="">
      <table class="table table-borderless col-xl-12 col-lg-12 col-md-12">
        <thead>
        <tr>
          <th scope="col">Language</th>
          <th scope="col">Count</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of langGraphData">
          <td>{{item.language}}</td>
          <td>{{item.count}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-5" style="">
      <table class="table table-borderless col-xl-12 col-lg-12 col-md-12">
        <thead>
        <tr>
          <th scope="col">Verified<br>Status</th>
          <th scope="col">Count</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of verifiedStatusData">
          <td>{{item.status}}</td>
          <td>{{item.count}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>


