<div class="container" style="margin-top: 60px;">
  <div class="row" style="">

    <h1>Select your view</h1>
  </div>
  <div class="row" style="margin-top: 20px;">

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Mockup View</h5>
        <p class="card-text">Non-functional view that show how the final output will look like.</p>
        <a class="btn btn-primary" routerLink="/mockup">Go</a>
      </div>
    </div>

    <!--<nav>
      <a routerLink="/main">Data Streaming View</a>
      <a routerLink="/heroes">Mockup View</a>
    </nav>-->
  </div>
</div>
